<div class="navbar">
    Iraitech Assignment

    <div class="links">
        <a class="btn btn-light" routerLink="/assignment1" routerLinkActive="btn-dark"  >Assignment One</a>
        <a class="btn btn-light" routerLink="/assignment2" routerLinkActive="btn-dark"  >Assignment Two</a>
        <a class="btn btn-light"  routerLink="/assignment3" routerLinkActive="btn-dark" >Assignment Three</a>
        <a class="btn btn-light"  routerLink="/assignment4" routerLinkActive="btn-dark" >Assignment Four</a>    
    </div>

</div>
